:root {
  --cta: #8e3075;
  --cta-blue: #00a59f;
  --primary: #2b2b2b;
  --secondary: #4f4f4f;
  --tertiary: #747474;
  --quartiary: #a0a0a0;
  --bg-gray: #f2f2f2;
  --bg-gray-darker: #eeeeee;
  --app-container: min(90%, 1200px);
  --mantine-boxshadow: 0 1px 3px rgb(0 0 0 / 5%),
    rgb(0 0 0 / 5%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}
